<div class="mt-4 space-y-2">
  <div class="flex items-center">
      <span class="font-semibold"><%= comment.commenter.name %>:</span>
      <p class="ml-2"><%= comment.content %></p>
  </div>
</div>
