<%= form_with(model: Post, id: "post_form", class: "mb-4", data: { remote: true }) do |form| %>
    <h2 class="text-lg font-semibold mb-4">Howdy, <%= current_user.name %>!</h2>

    <%= form.text_area :content, class: "w-full p-2 border rounded", placeholder: "What's on your mind?" %>
    <%= form.select :visibility, options_for_select(["Public", "Private", "Friends"]), class: "w-full p-2 border rounded" %>
    <button class="mt-2 bg-blue-500 text-white px-4 py-2 rounded">Post</button>
<% end %>

<script>
    $('#post_content').summernote({
        placeholder: "What's on your mind?",
        toolbar: [
        // [groupName, [list of button]]
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol']],
        ['insert', ['link', 'picture', 'video']],
      ]
      });
</script>
