<!-- popular posts -->
<% @popular_posts.each do |post| %>
  <div class="post bg-white shadow-md rounded-lg p-4 mb-4">
    <div class="post-content">
      <%=raw post.content.slice(0, 50) %>
    </div>
    <div class="post-footer flex justify-between items-center mt-2">
      <div class="post-author text-gray-600">
        <%= post.user.name %>
      </div>
      <div class="post-date text-gray-400"></div>
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
  </div>
<% end %>
