<nav class="bg-blue-500 text-white p-4">
  <ul class="flex justify-center">
      <li class="mr-6">
          <%= link_to "Admin Users", admin_users_path, class: "hover:text-gray-300" %>
      </li>
      <li class="mr-6">
        <%= link_to "Admin Posts", admin_posts_path, class: "hover:text-gray-300" %>
      </li>
      <li>
        <%= link_to "Admin Comments", admin_comments_path, class: "hover:text-gray-300" %>
      </li>
  </ul>
</nav>
